# pytorch
--extra-index-url https://download.pytorch.org/whl/nightly/cu128
torch==2.7.0.dev20250308+cu128
torchvision==0.22.0.dev20250309+cu128
onnxruntime-gpu==1.20.1

# optimizers
bitsandbytes==0.45.2 # bitsandbytes for 8-bit optimizers and weight quantization
